/*CSS Reset*/
body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0; 
    padding: 0; 
    border: 0;
}

/*Style rules for header*/
header {
    color:#ffffff;
    background-color: #404040;
}

/*Style rules for body and images*/
body {
    background-color: #404040;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile viewport */

/* Style rules to show mobile class and hide tab-desk class */
.mobile {
    display: block;
}

/* Style rules for header area */
.mobile h1{
    padding: 2%;
    text-align: center;
    font-family: Emblema One, serif;
}

.mobile h3{
    padding: 2%;
    text-align: center;
    font-family: Lora, serif;
}

.tab-desk {
    display: none;
}

/*Style rules for navigation area*/
nav {
    background-color: #262626;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

nav li a {
    display: block;
    color: #ffffff;
    padding: .5em 2em;
    text-decoration: none;
}

/* misc classes */

.stick {
    position: sticky;
    top: 0;
}

.cardList {
    list-style-type: none;
    background-image: linear-gradient(#404040, #4d4d4d);
}

.cardList li {
    display: inline-block;
    padding: 10px;
}

/*Style rules for main content*/
main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif, Lora;
    color: #ffffff;
    background-image: linear-gradient(#404040, #4d4d4d);
}

main p{
    font-size: 1.25em;
    color: #ffffff;
}

main h3{
    padding-top: 2%;
    color: #ffffff;
}

main ul {
    list-style-type: square;
}

/*Style rules for class and id selectors*/
.link{
    text-decoration: none;
    font-weight: bold;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.round {
    border-radius: 6px;
}

#info ul {
    margin-left: 10%;
}

#contact {
    text-align: center;
}

.tel-link {
    padding: 2%;
    width: 80%;
    margin: 0 auto;
}

.tel-link a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/*Style rules for footer content*/
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #262626;
    color: #ffffff;
    padding: 1% 0%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {
    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }

    nav, nav li, nav li a {
        background-color: #262626;;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.25em;
    }

    nav li a {
        padding: 0.5em;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
    /* Desktop Viewport: Style rules for nav area */
    nav li {
        font-size: 1.5em;
    }
    nav li a {
        padding: 0.5em 1.5em;
    }
    nav li a:hover {
        background-color: #404040;
        text-shadow: 2px 2px;
    }

    /* Desktop Viewport: Style rules for main content */
    #info ul {
        margin-left: 5%;
    }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {
    #wrapper {
        width: 1920px;
        margin: 0 auto;
    }
}
