/*CSS Reset*/
body, header, nav, main, footer, img, h1, ul, section {
    margin: 0;
    padding: 0;
    border: 0;
}

/* style rules for div */
div {
    padding: 10px;
}

/* style rules for section */
section {
    background-color: whitesmoke;
    display: inline-block;
}

/* Style rules for about content */
#mtg,
#yugioh,
#riftbound {
    margin: 0 2%;
}

#info {
    clear: left;
    background-color: #737373;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    padding: 0.5in;
}

.round {
    border-radius: 8px;
}

/* Style rules for header */
header {
    text-align: center;
    color: #ffffff;
    background-color: #404040;
}

header img {
    display: none;
}

/* Body and images */
body {
    background-color: #404040;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for nav */
nav {
    background-color: #262626;
    border-radius: 10px;

}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 0.5em white;
}

nav li a {
    display: block;
    color: #ffffff;
    padding: 0.5em 1.5em;
    text-decoration: none;
}

nav li:hover {
    border-bottom: burlywood;
}

nav li a:hover {
    background-image: linear-gradient(#404040, #4d4d4d);
    text-shadow: 2px 2px #000000;
    transform: scale(110%);
}

nav.stick {
    position: sticky;
    top: 0;
}

/* Links */
a {
    text-decoration: none;
    color: #ffffff;
}

/* Main content */
main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif, Lora;
    color: #ffffff;
    overflow: auto;
    background-image: linear-gradient(#404040, #4d4d4d);
}

main p {
    font-size: 1.25em;
}

main ul {
    list-style-type: square;
}

/* Style rules for cards */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(110%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* style rules for box */
.box {
    display: block;
    margin-bottom: 0.5in;
    padding: 0.5in;
    background-color: #737373;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* style rules for contact */
#contact {
    text-align: center;
}

.tel-link {
    padding: 2%;
    width: 80%;
    margin: 0 auto;
}

.tel-link a {
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #262626;
    color: #ffffff;
    padding: 1% 0%;
}

footer a {
    color: #ffffff;
}

/* Style rules for Tablet Viewport */
@media screen and (min-width: 620px) {
    header img {
        display: block;
    }

    nav li {
        font-size: 1.25em;
    }

    table {
        border: 1px solid #0d0d0d;
        border-collapse: collapse;
        margin: 0 auto;
        width: 100%;
        table-layout: fixed;
    }

    caption {
        font-size: 2em;
        font-weight: bold;
        padding: 1%;
        color: black;
    }

    th, td {
        border: 1px solid #000000;
        padding: 1%;
        word-wrap: break-word;
    }

    th {
        background-color: #bfbfbf;
        color: black;
        font-size: 2em;
    }

    td {
        background-color: #bfbfbf;
        color: black;
        font-size: 1.15em;
    }

    th:nth-child(odd) {
        background-color: #cccccc;
    }
}

/* Style rules for Desktop Viewport */
@media screen and (min-width: 1000px) {
    header {
        padding: 2%;
    }

    #mtg,
    #riftbound,
    #yugioh {
        width: 29%;
        float: left;
        margin: 0 2%;
    }


    table {
        border: 1px solid #0d0d0d;
        border-collapse: collapse;
        margin: 0 auto;
        width: 100%;
        table-layout: fixed;
    }

    caption {
        font-size: 2em;
        font-weight: bold;
        padding: 1%;
    }

    th, td {
        border: 1px solid #000000;
        padding: 1%;
        word-wrap: break-word;
    }

    th {
        background-color: #999999;
        color: black;
        font-size: 1.15em;
    }

    th:nth-child(odd) {
        background-color: #cccccc;
    }
}

/* Style rules for Large Desktop Viewport */
@media screen and (min-width: 1921px) {
    #wrapper {
        width: 1920px;
        margin: 0 auto;
    }
}
